<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="linkers/lyrics.js"></script>
</head>

<body>
  <br>
  <div class="container">
    <button class="btn btn-info"><a style="color:white" href="/input_page">< Back</a></button>

    <div class="jumbotron">
      <h1>Powered by SaskyMaliMusic</h1>
    </div>
    <br>


  </div>
<body>
