<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="jumbotron">
      <h1>Powered by SaskyMaliMusic</h1>
      <p>Lyric Composer Model</p>
      <p>Using Shakespear Corpus</p>
    </div>
    <br>
    <div class="row">
    <div class="col-xs-4">
      <img style="width:100%" src="static/images/music.png"/>
      <br>
      <button class="btn btn-info"><a style="color:white" href="/input_page">Lyric Composer</a></button>
    </div>
    <div class="col-xs-4">
    </div>
</div>
</div>
<body>
