<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="linkers/lyrics.js"></script>
</head>

<body>
  <br>
  <div class="container">
    <button class="btn btn-info"><a style="color:white" href="/">< Back</a></button>

    <div class="jumbotron">
      <h1>Powered by SaskyMaliMusic</h1>
    </div>
    <br>
    <label>Enter your reference character</label>
    <form action="/output_page" method="post">
      <input type="text" placeholder="word"/>
      <input type="submit" value="submit"/>  

    </form>


  </div>
<body>
